# It is recommended to install PyTorch manually.
# PyTorch 1.13 is required for exporting ONNX models.
# See instructions at https://pytorch.org/get-started/previous-versions/

click
h5py
librosa<0.10.0
lightning~=2.1.0
matplotlib
MonkeyType==23.3.0
numpy<2.0.0
onnx~=1.16.0
onnxsim~=0.4.36
praat-parselmouth==0.4.3
pyworld==0.3.4
PyYAML
resampy
scipy>=1.10.0
tensorboard
tensorboardX
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
torchmetrics
tqdm
